<h1>Show Users</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @users.name %>
  </li>

  <li>
    <strong>Lastname:</strong>
    <%= @users.lastName %>
  </li>

  <li>
    <strong>Role:</strong>
    <%= @users.role %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.users_path(@conn, :edit, @users) %></span> |
<span><%= link "Back", to: Routes.users_path(@conn, :index) %></span>
